<div class="grid-container">
    <div class="grid-item">
        <button mat-raised-button (click)="keyEvent('1')">1</button>
    </div>
    <div class="grid-item">
        <button mat-raised-button (click)="keyEvent('2')">2</button>
    </div>
    <div class="grid-item">
        <button mat-raised-button (click)="keyEvent('3')">3</button>
    </div>
    <div class="grid-item">
        <button mat-raised-button (click)="keyEvent('4')">4</button>
    </div>
    <div class="grid-item">
        <button mat-raised-button (click)="keyEvent('5')">5</button>
    </div>
    <div class="grid-item">
        <button mat-raised-button (click)="keyEvent('6')">6</button>
    </div>
    <div class="grid-item">
        <button mat-raised-button (click)="keyEvent('7')">7</button>
    </div>
    <div class="grid-item">
        <button mat-raised-button (click)="keyEvent('8')">8</button>
    </div>
    <div class="grid-item">
        <button mat-raised-button (click)="keyEvent('9')">9</button>
    </div>
    <div class="grid-item">
        <button mat-raised-button (click)="keyEvent('0')">0</button>
    </div>
    <div class="grid-item">
        <button mat-raised-button (click)="keyEvent('BACKSPACE')">&#60;</button>
    </div>
    <div class="grid-item">
        <button mat-raised-button (click)="keyEvent('ENTER')">Enter</button>
    </div>
  </div>