<div id="container_access"> 
    <mat-form-field class="container_imput">
        <mat-label>Equipamento ID</mat-label>
        <input class="imput" matInput name="eqpId"  > 
    </mat-form-field>
    <mat-form-field class="container_imput">
        <mat-label>Api de Acesso</mat-label>
        <input class="imput" matInput name="urlAcesso" >
    </mat-form-field>         
</div>

<div id="container_references">  
    <mat-form-field class="container_imput">
        <mat-label>Api de Acesso</mat-label>
        <input class="imput" matInput name="urlAcesso" >
    </mat-form-field>
    <mat-form-field class="container_imput">
        <mat-label>Api de Acesso</mat-label>
        <input class="imput" matInput name="urlAcesso" >
    </mat-form-field>    
    <mat-form-field class="container_imput">
        <mat-label>Api de Acesso</mat-label>
        <input class="imput" matInput name="urlAcesso" >
    </mat-form-field>    
    <mat-form-field class="container_imput">
        <mat-label>Api de Acesso</mat-label>
        <input class="imput" matInput name="urlAcesso" >
    </mat-form-field>    
    <mat-form-field class="container_imput">
        <mat-label>Api de Acesso</mat-label>
        <input class="imput" matInput name="urlAcesso" >
    </mat-form-field>    
    <mat-form-field class="container_imput">
        <mat-label>Api de Acesso</mat-label>
        <input class="imput" matInput name="urlAcesso" >
    </mat-form-field>         
</div>







