@import '../../../styles.css';

#container{  
  display: flex; 
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;    
}

#div-form{ 
  width: 50%; 
  padding: 40px;
  text-align: center; 
  
}

#div-keyboard{
  width: 50%; 
  text-align: center;  
}

#div-app-keyboard{
  display: inline-block;
}

.form { 
  width: 100%;  
}

.full-width {
width: 100%;
margin-bottom: 20px; 
}  